@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Work+Sans&display=swap');

[time-date-theme="light"] {
	--main-bg-color: #fff;
	--main-text-color: #191919;
}

[time-data-theme="dark"] {
	--main-bg-color: #191919;
	--main-text-color: #fff;
}

* {
	transition: all ease 0.2s;
	color: var(--main-time-color);
}

body{
    line-height: 1.6;
	background: var(--main-bg-color);
	color: var(--main-text-color);
}

h1 {
    margin-top: 0;
}


/*CSS START*/

.full-table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card {
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    background: #ff1c8d;
    width: 85vw;
    color: #fff;
    display: inline-block;
}

.clock {
    display: inline;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
   
}

.time {
    display: inline;
    min-width: 37px;
}

.colon {
    font-size: 1.1em;
    display: inline-block;
}

.date {
    display: inline;
    min-width: 162px;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    padding-right: 30px;
}
.greet{
    
    display:inline;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
     padding-right: 30px;
}
