:root {
    --main-bg-color: #fff;
    --main-border: 5px solid #fff;
}

[data-theme="gray"] {
    --main-bg-color: #191919;
    --main-border: 5px solid #191919;
}

* {
    transition: all ease 0.2s;
    color: #f58f70;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    height: auto;
    background: var(--main-bg-color);
}

.analog-clock{
    max-width:100%;
    max-height:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border: var(--main-border);
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -10px 10px rgba(255,255,255,0.05),
                0 4px 15px rgba(0, 0, 0, 0.3),
                inset 0 4px 10px rgba(0, 0, 0, 0.3);
}

.analog-clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #ff1c8d;
    border-radius: 50%;
    z-index: 10000;
}

.analog-clock .hour,
.analog-clock .min,
.analog-clock .sec{
    position: absolute;
}

.analog-clock .hour, .hr{
    width: 160px;
    height: 160px;
}

.analog-clock .min, .mn{
    width: 190px;
    height: 190px;
}

.analog-clock .sec, .sc{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #600ef9;
    border-radius: 6px 6px 0 0;
    z-index: 10;
}

.mn:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #600ef9;
    border-radius: 6px 6px 0 0;
    z-index: 11;
}

.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #ff1c8d;
    border-radius: 6px 6px 0 0;
    z-index: 12;
}
